body {
    /*
    background-image: url('https://raw.githubusercontent.com/TekapoCart/theme_resources/master/background/wood-1920.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: contain;
    */
}
